.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  padding-right: 5vw;
  padding-left: 5vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  position: fixed;
  top: 0px;
  min-width: 100vw;
  min-height: 3vh;
  background: rgba(255,255,255,0.2);
  border-bottom: 5px groove white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.header a{
  text-decoration: none;
  color: white;
  font-size:0.75em;
}

.link{
  margin: 3px;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.2);
}

.dataset {
  text-align: center;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 36px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10%;
  padding: 12px;
  margin: 3px;
}

input {
  font-size: 36px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10%;
  padding: 12px;
  margin: 3px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

